a {
	color: #e1472f;
}

a.post-read-more:hover {
	color: #e1472f;
}

#submitcomment {
    background:#e1472f;
}

.wrap ul.wrap-nav > li a:hover {
	color: #e1472f;
}

.wrap ul.wrap-nav li.current > a {
	color: #e1472f;
}

html .tp-bannertimer {
	background: #e1472f;
}

.pricing-column.featured-column .package-features, .pricing-column.featured-column .package-title {
	border-color: #e1472f;
}

.pricing-column.featured-column .package-title {
}

.overlaymenu-social li a:hover {
	color: #e1472f;
}

.button-map:hover {
    background: #e1472f;
}

.hero-content .post-meta a:hover {
	color: #e1472f;
}

.mejs-controls .mejs-time-rail .mejs-time-current, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #e1472f;
}

ul.avatar-social li a:hover {
	background: #e1472f;
	color: #fff;
}

.regular-service:hover .service-elem-icon.fa {
	color: #e1472f;
}

.work-cta:hover {
	background: #e1472f;
}

.nav-btn:hover {
	color: #e1472f;
}

.share-options a:hover {
	color: #e1472f;
}

ul#mainnav > li.current > a span {
	color: #e1472f;
	border-bottom: 1px solid #e1472f;
}

.skillbar-bar {
	background: #e1472f;
}

.wrapper-service i {
	color: #e1472f;	
}

.tweet_time a:hover, a.tweet_action:hover {
    color: #e1472f;
}

.testimonial-name {
	color: #e1472f;
}

.dt-service-item:hover {
	background: #e1472f;
	border: 1px solid #e1472f;
}

h2.parallax-quote:after, .quote-post h3:after {
	background: #e1472f;
}

.team-social a:hover {
	color:#e1472f;
}

.service-item i {
	color:#e1472f;
}

h3.masonry-title a:hover,  .post-content h1 a:hover {
	color:#e1472f;
}

ul#social li a:hover {
	border-color: #e1472f;
}

ul#mainnav li ul li a:hover, ul#mainnav li ul li ul li a:hover {
    color: #e1472f;
}

.tags ul li a:hover {
	background:#e1472f;
	border-color: #e1472f;
}

.sidebar-post span a {
	color:#e1472f;
}

h3.masonry-title a:hover,  .post-content h1 a:hover {
	color:#e1472f;
}

a.c_reply:hover {
	background:#e1472f;
	color:#fff !important;
}

ul.tabs li.active {
    border-top: 2px solid #e1472f;
    top: 2px;
    
}

.featured-column .column-shadow {
	background:#e1472f;
}

.featured-column .package-title {	
}

ul.customlist li i {
	color:#e1472f;
	font-size: 14px;
}

.widget a:hover {
	color:#e1472f;
}

ul.tags a:hover {
	color:#e1472f;
}

.authorp h2 a:hover {
	color:#e1472f;
}

.comment a:hover {
	color:#e1472f;
}

#toggle-view li.activated h3 {
	color:#e1472f;
}

.portfolio h3 a:hover {
	color:#e1472f;
}

.pagenav a:hover {
	
}

span.current {
    color: #e1472f; 
}

#footer a:hover {
	color:#e1472f;
}

.toggle-minus {
	color: #e1472f;
}